@{
    ViewData["Title"] = "Home Page";
}

<div id="react-popup" style="position:absolute">Loading...</div>
<div id="react-app" asp-prerender-module="ClientApp/dist/main-server">Loading...</div>
<div id="react-background"></div>

@section scripts {
    <script src="~/dist/main-client.js" asp-append-version="true"></script>
}
